.header{
    background-color:  lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px  20px;
}

.btn{
    background-color: aqua;
}
