* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,body{
    height: 100%;
    width: 100%;
}


.parent{
  /* margin: 20px; */
  flex-wrap: wrap;
}

.card{
  background-color: pink;
  border: 2px solid black;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding:20px;
  text-align: center;
  /* font-size:10px; */
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.card h1{
  margin: 10px;
}


.card button{
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px;
  background-color: white;
}

.card img:hover,
.card p:hover,
.card h1:hover,
.card button:hover{
  border-radius: 10px;
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgb(48, 47, 45);
}