* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black  ;
  
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.card{
  height: 280px;
  width: 250px;
  background-color: white;
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.top img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #dadada ;
  padding: 2px;
  object-fit: cover;
  /* margin: 20px; */
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}


.centre h3{
  font-size: 18px;
  font-weight: 500;
}
.centre h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.centre h2{
  font-size: 18px;
}
.centre .tag{
  display: flex;
  gap: 10px;
  font-size: 10px;
  margin-top: 5px;
}
.centre .tag h4{
  background-color: #dadada;
  border-radius: 5px;
  padding: 2px 4px;
  font-weight: 500;
}


.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #ded8d8;
  padding: 10px 0px;
}

.bottom p{
  font-size: 10px;
  color: #b1b1b1;
}

.bottom button{
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  background-color: black;
  color: white;
  padding: 2px 5px;
}